@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand+SC&display=swap');

.biography-block {
    padding: 20px;
}

.img-wrapper {
    /* CENTER IMAGE IN DIV (NO WARPING)*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*---------------------*/

    /* UNIQUE PROPERTIES FOR THIS IMAGE*/
    float:right;
    margin-left: 20px;;
    width: 200px;
    height: 200px;
    overflow: hidden;
    /* ----------------- */
}

.img-wrapper img {
    width: 100%;
    height: auto;
}

.biography-text {
    text-align: justify;
    font-family: 'Handlee', cursive;
}


