@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand+SC&display=swap');

.about-block {
    .biography-block {
        width: 80%;
        margin: auto;
        padding: 20px;

        .introduction-block {
            height: 600px;

            .img-wrapper {
                /* CENTER IMAGE IN DIV (NO WARPING)*/
                display: flex;
                justify-content: center;
                align-items: center;
                /*---------------------*/
            
                /* UNIQUE PROPERTIES FOR THIS IMAGE*/
                float:right;
                margin-left: 20px;
                width: 500px;
                height: inherit;
                overflow: hidden;
                object-fit: cover;
                /* ----------------- */
            
                img {
                    width: auto;
                    height: 100%;
                }
            }

            .intro {
                height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .intro-text {
                    text-align: left;
                    font-family: 'Handlee', cursive;
                    font-size: 80px;
                }
                .intro-subtext {
                    text-align: left;
                    font-family: 'Handlee', cursive;
                    font-size: 40px;
                }
            }
        }

        .more-block {
            .about {
                font-family: 'Handlee', cursive;
                font-size: 30px;
            }
        }
    }
    

}

@media (max-width: 1300px){
    .about-block {
        .biography-block {
            .introduction-block {
                height: auto;

                .img-wrapper {
                    float:none;
                    margin: auto;
                    height: 400px;
                    width: 100%;
                    max-width: 300px;
                }

                .intro {
                    display: flex;
                    flex-direction: column;
                    .intro-text {
                        font-size: 40px;
                    }

                    .intro-subtext {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
