@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.japanese-text {
    margin: 20px;
    text-align: left;
    font-family: 'Zen Maru Gothic', serif;
}

.projects-block {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

