@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* GENERAL: DEFAULT VALUES */
* {
    margin: 0;
    padding: 0;

    list-style: none;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Patrick Hand SC', cursive;
}

body {
    background-color: rgb(8, 8, 8);

    .container {
        margin: auto;
        width: 100%;
        height: 100vh;
    }
}



header {
    /* NAVBAR */
    font-size: 30px;
    padding: 10px 0px;

    nav {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: 100px;
      

        div {
            height: 100%;
            display: flex;
            align-items: center;
        }

        #navbar-options {
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            
            a {
                display: flex;
                align-items: center;
                height: inherit;
                
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: inherit;
                    width: 100px;
                    padding-inline: 8px;
                    transition: 0.4s;
                }
        
                li:hover {
                    color: black;
                    background-color: white;
                }
            }
        }
    }
}

/* FOOTER */
footer {

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;



    .icon-wrapper {
        width: 40px;
        height: 40px;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }    

    p {
        font-size: 30px;
    }
}

@media (max-width: 1300px){
    header {
        font-size: 25px;
    }

    footer {
        p {
            display: none;
        }
    }

    header {
        nav {
            flex-direction: column;
            justify-content: center;

            div {
                display: none;
            }
        }
    }
}

/* PHONE SCREEN MEDIA QUERY */
@media (max-width: 800px){

    nav {
        padding-top: 10px;
        flex-direction: column;
    }

    .container {
        width: 100%;
    }
}