

.categories {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.categories-subsection {
    display: flex;
    flex-direction: row;
}


.category-block {

    width: 300px;
    min-height: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 14px;
}

.category-block ul {
    display: block;
}



.category-block h2 {
    text-align: center;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
}

h2 {
    transition: 0.2s;
}
h2:hover {
    color: red;
}