@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: inherit;
    text-decoration: none;
}

.container {
    margin: 20px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

ul {

    display: flex;
    flex-direction: row;
}

li {
    padding: 15px;
    transition: 0.2s;
}

li:hover {
    background-color: red;
    border-radius: 4px;
    color: white;

}

#carleton-logo {
    height: 50px;
}

button {
    width: 200px;
    height: 50px;
    transition: 0.3s;
    border-radius: 2px;
    border: 0.1px solid black;
}

button:hover {
    background-color: red;
    color: white;
}